ENG/*.aux
ENG/*.bbl
ENG/*.bcf
ENG/*.blg
ENG/*.fdb_latexmk
ENG/*.fls
ENG/*.log
ENG/*.out
ENG/*.xml
ENG/*.gz

ITA/*.aux
ITA/*.bbl
ITA/*.cls
ITA/*.bcf
ITA/*.blg
ITA/*.fdb_latexmk
ITA/*.fls
ITA/*.log
ITA/*.out
ITA/*.xml
ITA/*.gz